In [1]:
from LSTM_Model.core import data_processor, model, utils
import json
import os
import math
import numpy as np
import pandas as pd
import csv

Using TensorFlow backend.

In [2]:
stock_model = model.Model()

In [4]:
with open("sticker_model_config.json", 'r') as myfile:
    config_text=myfile.read().replace('\n', '')
configs = json.loads(config_text)
cwd = os.getcwd()
print(os.path.join(cwd+"/LSTM_Model/data/", configs['data']['filename']))
print(configs['data']['train_test_split'])
print(configs['data']['columns'])

data = data_processor.DataLoader(
	os.path.join(cwd+"/", configs['data']['filename']),
	configs['data']['train_test_split'],
	configs['data']['columns']
)

model = Model()
model.build_model(configs)
x, y = data.get_train_data(
	seq_len = configs['data']['sequence_length'],
	normalise = configs['data']['normalise']
)

model.train(
	x,
	y,
	epochs = configs['training']['epochs'],
	batch_size = configs['training']['batch_size']
)

x_test, y_test = data.get_test_data(
	seq_len = configs['data']['sequence_length'],
	normalise = configs['data']['normalise']
)

/home/yuhongc_berkeley_edu/csgo_stickers/LSTM_Model/data/market_data/Cologne 2014/Cloud9.csv
0.85
['Date', 'Price', 'Volume']

AttributeError: 'NoneType' object has no attribute 'values'

In [5]:
dataframe = pd.read_csv("/home/yuhongc_berkeley_edu/csgo_stickers/LSTM_Model/data/market_data/Cologne 2014/Cloud9.csv")

In [7]:
dataframe.get(["Date", "Price", "Volume"])

                    Date  Price  Volume
0     Aug 05 2014 01: +0  0.506    9369
1     Aug 06 2014 01: +0  0.508    3848
2     Aug 07 2014 01: +0  0.506    2793
3     Aug 08 2014 01: +0  0.528    2284
4     Aug 09 2014 01: +0  0.465    2302
5     Aug 10 2014 01: +0  0.474    1888
6     Aug 11 2014 01: +0  0.458    1864
7     Aug 12 2014 01: +0  0.467    2073
8     Aug 13 2014 01: +0  0.448    2991
9     Aug 14 2014 01: +0  0.627    5830
10    Aug 15 2014 01: +0  1.024    5016
11    Aug 16 2014 01: +0  1.017    4571
12    Aug 17 2014 01: +0  0.135   35700
13    Aug 18 2014 01: +0  0.138   13170
14    Aug 19 2014 01: +0  0.262    5382
15    Aug 20 2014 01: +0  0.302    3928
16    Aug 21 2014 01: +0  0.266    3184
17    Aug 22 2014 01: +0  0.257    3292
18    Aug 23 2014 01: +0  0.260    3164
19    Aug 24 2014 01: +0  0.264    2711
20    Aug 25 2014 01: +0  0.265    2799
21    Aug 26 2014 01: +0  0.258    2496
22    Aug 27 2014 01: +0  0.269    2515
23    Aug 28 2014 01: +0  0.277    2413
24    Aug 29 2014 01: +0  0.293    2552
25    Aug 30 2014 01: +0  0.340    2574
26    Aug 31 2014 01: +0  0.349    2326
27    Sep 01 2014 01: +0  0.378    2185
28    Sep 02 2014 01: +0  0.416    2159
29    Sep 03 2014 01: +0  0.445    1834
...                  ...    ...     ...
1713  Oct 29 2018 17: +0  2.938       1
1714  Oct 29 2018 19: +0  3.006       1
1715  Oct 29 2018 20: +0  3.040       1
1716  Oct 29 2018 22: +0  2.591       1
1717  Oct 30 2018 08: +0  2.850       1
1718  Oct 30 2018 10: +0  2.564       2
1719  Oct 30 2018 13: +0  2.470       1
1720  Oct 30 2018 14: +0  2.840       1
1721  Oct 30 2018 15: +0  2.858       1
1722  Oct 30 2018 17: +0  1.711       1
1723  Oct 30 2018 20: +0  2.806       1
1724  Oct 31 2018 06: +0  2.380       2
1725  Oct 31 2018 16: +0  2.794       3
1726  Oct 31 2018 18: +0  2.810       1
1727  Nov 01 2018 00: +0  2.700       1
1728  Nov 01 2018 05: +0  2.710       1
1729  Nov 01 2018 06: +0  2.715       3
1730  Nov 01 2018 11: +0  2.261       1
1731  Nov 01 2018 12: +0  2.715       2
1732  Nov 01 2018 14: +0  2.260       1
1733  Nov 01 2018 23: +0  2.635       4
1734  Nov 02 2018 01: +0  2.814       1
1735  Nov 02 2018 04: +0  2.810       4
1736  Nov 02 2018 13: +0  2.837       2
1737  Nov 02 2018 15: +0  2.621       1
1738  Nov 02 2018 18: +0  2.849       2
1739  Nov 02 2018 19: +0  2.290       1
1740  Nov 02 2018 21: +0  2.850       1
1741  Nov 02 2018 23: +0  2.870       1
1742  Nov 03 2018 00: +0  2.885       3

[1743 rows x 3 columns]

In [3]:
# add header for all the data
"""
market_data_path = "LSTM_Model/data/market_data"
for tournament in list(os.listdir(market_data_path)):
    if tournament[0]==".":
        continue
    tournament_path = os.path.join(market_data_path, tournament)
    for team in list(os.listdir(tournament_path)):
            if team[0]=="." or team=="team_info.csv":
                continue
            team_path = os.path.join(tournament_path, team)
            rows = [["Date","Price","Volume"]]
            with open(team_path,"r",newline="") as csvfile:
                csvreader = csv.reader(csvfile, delimiter=',', quotechar='|')
                for row in csvreader:
                    rows.append(row)
            os.remove(team_path)
            with open(team_path,"w",newline="") as csvfile:
                csvwriter = csv.writer(csvfile, delimiter=',', quotechar='|')
                for row in rows:
                    csvwriter.writerow(row)
"""